/* line 1, sass/_transitions.scss */
.fold-menu-enter-active, .fold-menu-leave-active {
  transition: all .3s;
}

/* line 4, sass/_transitions.scss */
.fold-menu-enter, .fold-menu-leave-to {
  transform: translateY(-100%);
  border-radius: 100%;
}

/* line 6, sass/_mixins.scss */
.f-r-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 12, sass/_mixins.scss */
.f-c-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 6, sass/_mixins.scss */
.f-r-sa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* line 12, sass/_mixins.scss */
.f-c-sa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 6, sass/_mixins.scss */
.f-r-fs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* line 12, sass/_mixins.scss */
.f-c-fs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* line 6, sass/_mixins.scss */
.f-r-fe {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* line 12, sass/_mixins.scss */
.f-c-fe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* line 6, sass/_mixins.scss */
.f-r-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 12, sass/_mixins.scss */
.f-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 6, sass/_mixins.scss */
.f-r-s {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

/* line 12, sass/_mixins.scss */
.f-c-s {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* line 6, sass/_mixins.scss */
.f-r-e {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

/* line 12, sass/_mixins.scss */
.f-c-e {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/* line 23, sass/_mixins.scss */
.f-b-tel18 {
  flex-basis: 5.56%;
}

/* line 23, sass/_mixins.scss */
.f-b-tel18-2 {
  flex-basis: 11.11%;
}

/* line 23, sass/_mixins.scss */
.f-b-tel6 {
  flex-basis: 16.67%;
}

/* line 23, sass/_mixins.scss */
.f-b-tel3 {
  flex-basis: 33.33%;
}

/* line 23, sass/_mixins.scss */
.f-b-half {
  flex-basis: 50%;
}

/* line 23, sass/_mixins.scss */
.f-b-tel3-2 {
  flex-basis: 66.67%;
}

/* line 23, sass/_mixins.scss */
.f-b-tel6-5 {
  flex-basis: 83.32%;
}

/* line 23, sass/_mixins.scss */
.f-b-full {
  flex-basis: 100%;
}

/* line 32, sass/_mixins.scss */
.pt-small {
  padding-top: 10px;
}

/* line 36, sass/_mixins.scss */
.pr-small {
  padding-right: 10px;
}

/* line 40, sass/_mixins.scss */
.pb-small {
  padding-bottom: 10px;
}

/* line 44, sass/_mixins.scss */
.pl-small {
  padding-left: 10px;
}

/* line 48, sass/_mixins.scss */
.plr-small {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 53, sass/_mixins.scss */
.ptb-small {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 58, sass/_mixins.scss */
.p-small {
  padding: 10px;
}

/* line 32, sass/_mixins.scss */
.pt-normal {
  padding-top: 20px;
}

/* line 36, sass/_mixins.scss */
.pr-normal {
  padding-right: 20px;
}

/* line 40, sass/_mixins.scss */
.pb-normal {
  padding-bottom: 20px;
}

/* line 44, sass/_mixins.scss */
.pl-normal {
  padding-left: 20px;
}

/* line 48, sass/_mixins.scss */
.plr-normal {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 53, sass/_mixins.scss */
.ptb-normal {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 58, sass/_mixins.scss */
.p-normal {
  padding: 20px;
}

/* line 32, sass/_mixins.scss */
.pt-big {
  padding-top: 40px;
}

/* line 36, sass/_mixins.scss */
.pr-big {
  padding-right: 40px;
}

/* line 40, sass/_mixins.scss */
.pb-big {
  padding-bottom: 40px;
}

/* line 44, sass/_mixins.scss */
.pl-big {
  padding-left: 40px;
}

/* line 48, sass/_mixins.scss */
.plr-big {
  padding-left: 40px;
  padding-right: 40px;
}

/* line 53, sass/_mixins.scss */
.ptb-big {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 58, sass/_mixins.scss */
.p-big {
  padding: 40px;
}

/* line 68, sass/_mixins.scss */
.text-reg-small {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 14px;
}

/* line 76, sass/_mixins.scss */
.text-ita-small {
  font-weight: 400;
  font-font-style: italic;
  font-size: 14px;
}

/* line 84, sass/_mixins.scss */
.text-bld-small {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 14px;
}

/* line 68, sass/_mixins.scss */
.text-reg-normal {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 16px;
}

/* line 76, sass/_mixins.scss */
.text-ita-normal {
  font-weight: 400;
  font-font-style: italic;
  font-size: 16px;
}

/* line 84, sass/_mixins.scss */
.text-bld-normal {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 16px;
}

/* line 68, sass/_mixins.scss */
.text-reg-subhead {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 24px;
}

/* line 76, sass/_mixins.scss */
.text-ita-subhead {
  font-weight: 400;
  font-font-style: italic;
  font-size: 24px;
}

/* line 84, sass/_mixins.scss */
.text-bld-subhead {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 24px;
}

/* line 68, sass/_mixins.scss */
.text-reg-head {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 34px;
}

/* line 76, sass/_mixins.scss */
.text-ita-head {
  font-weight: 400;
  font-font-style: italic;
  font-size: 34px;
}

/* line 84, sass/_mixins.scss */
.text-bld-head {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 34px;
}

/* line 6, sass/style.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 17, sass/style.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* line 29, sass/style.scss */
.rhn-wrapper {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* line 36, sass/style.scss */
.customize-support #main-menu {
  top: 32px;
}

/* line 1, sass/_header.scss */
#main-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  padding: 0;
  z-index: 99;
  font-size: 14px;
}

/* line 14, sass/_header.scss */
.rhn-menu_container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #7dff7d;
}

/* line 21, sass/_header.scss */
.menu-company-menu-container {
  width: 100%;
}

/* line 25, sass/_header.scss */
#rhn-menu__logo {
  position: relative;
  height: 70px;
}
/* line 29, sass/_header.scss */
#rhn-menu__logo svg {
  height: 100%;
  fill: #004e64;
  opacity: .3;
  transition: all .3s ease-in-out;
}
/* line 35, sass/_header.scss */
#rhn-menu__logo svg:hover {
  opacity: .5;
}

/* line 44, sass/_header.scss */
.rhn-menu__hamburger {
  position: relative;
  cursor: pointer;
  transform: scale(0.9);
}
/* line 49, sass/_header.scss */
.rhn-menu__hamburger:hover .rhn-menu__hamburger--container {
  opacity: .5;
}
/* line 53, sass/_header.scss */
.rhn-menu__hamburger:hover .rhn-menu__hamburger--container::after {
  height: 12px;
  border-right: 4px solid #004e64;
  border-bottom: 4px solid #004e64;
  border-left: 4px solid #004e64;
}

/* line 61, sass/_header.scss */
.rhn-menu__hamburger--container {
  position: relative;
  width: 35px;
  height: 4px;
  top: 55%;
  transform: translateY(-50%);
  margin: 0 auto;
  background-color: #004e64;
  opacity: .3;
  transition: all .3s;
}
/* line 72, sass/_header.scss */
.rhn-menu__hamburger--container::before {
  content: '';
  display: block;
  position: absolute;
  width: 35px;
  height: 4px;
  bottom: 10px;
  background-color: #004e64;
}
/* line 82, sass/_header.scss */
.rhn-menu__hamburger--container::after {
  content: '';
  display: block;
  position: absolute;
  width: 35px;
  height: 4px;
  bottom: -10px;
  border-right: 4px solid #004e64;
  border-bottom: 4px solid #004e64;
  border-left: 4px solid #004e64;
  box-sizing: border-box;
  transition: all .3s;
}

/* line 98, sass/_header.scss */
.rhn-menu__hamburger--active::after {
  background-color: #004e64;
  height: 12px;
}

/* line 104, sass/_header.scss */
#rhn-submenu {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #7dff7d;
  z-index: -1;
}

/* line 112, sass/_header.scss */
.rhn-nav__company--sub {
  position: relative;
}

/* line 116, sass/_header.scss */
#menu-mainmenu,
#menu-company-menu {
  list-style: none;
  transition: all 0.3s;
  cursor: pointer;
}

/* line 125, sass/_header.scss */
#menu-mainmenu li {
  position: relative;
}
/* line 128, sass/_header.scss */
#menu-mainmenu li::before {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  height: 100%;
  background-color: #004e64;
  opacity: 0;
  transition: all 0.15s;
}
/* line 139, sass/_header.scss */
#menu-mainmenu li:hover::before {
  opacity: .1;
}
/* line 143, sass/_header.scss */
#menu-mainmenu li a {
  padding: 6px 10px;
  display: block;
  width: 100%;
  color: #004e64;
  text-decoration: none;
}

/* line 159, sass/_header.scss */
#menu-company-menu li a {
  display: block;
  width: 100%;
  color: rgba(0, 78, 100, 0.3);
  text-decoration: none;
  cursor: pointer;
}
/* line 167, sass/_header.scss */
#menu-company-menu li a:hover::after {
  color: rgba(0, 78, 100, 0.5);
}
/* line 171, sass/_header.scss */
#menu-company-menu li ul {
  margin-top: 10px;
}
/* line 174, sass/_header.scss */
#menu-company-menu li ul li {
  position: relative;
  list-style: none;
}
/* line 178, sass/_header.scss */
#menu-company-menu li ul li a {
  display: block;
  width: 100%;
  padding: 6px 0;
  color: rgba(0, 78, 100, 0.5);
  text-decoration: none;
  transition: all 0.15s;
}
/* line 187, sass/_header.scss */
#menu-company-menu li ul li:hover a {
  color: #004e64;
}

/* line 199, sass/_header.scss */
.rhn-company-menu-item {
  margin: 0 10px;
}

/* line 203, sass/_header.scss */
.rhn-company-menu__headline {
  border-bottom: 1px solid rgba(0, 78, 100, 0.1);
}

/* line 207, sass/_header.scss */
.rhn-company-menu__headline::after {
  content: '\f35d';
  position: relative;
  bottom: -6px;
  vertical-align: text-bottom;
  float: right;
  font-family: 'Font Awesome 5 Free';
  font-size: 14px;
  font-weight: 900;
  color: rgba(0, 78, 100, 0.3);
}

/* line 1, sass/_main.scss */
#main-wrapper {
  margin-top: 90px;
}

/* line 1, sass/_article.scss */
.section__article-title {
  position: relative;
  height: auto;
  z-index: 50;
}
/* line 6, sass/_article.scss */
.section__article-title::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 250px;
  background-color: #7dff7d;
  z-index: -1;
}

/* line 18, sass/_article.scss */
.section__article-title--content {
  position: relative;
  width: 100%;
  height: calc(250px + 150px);
}

/* line 24, sass/_article.scss */
.article-title {
  position: relative;
  height: 100%;
  border-top: 1px solid #004e64;
  border-left: 1px solid #004e64;
  border-bottom: 1px solid #004e64;
}

/* line 32, sass/_article.scss */
.article-title--headline {
  position: absolute;
  top: calc(250px - 40px);
  transform: translateY(-100%);
  padding: 0 20px;
  font-family: 'Fira Sans', sans-serif;
  color: #004e64;
  font-size: 34px;
  font-weight: 700;
  font-style: normal;
  line-height: 44px;
  letter-spacing: 0.03em;
}

/* line 40, sass/_article.scss */
.article-title--date {
  position: absolute;
  padding: 20px;
  font-family: 'Fira Sans', sans-serif;
  color: #004e64;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

/* line 46, sass/_article.scss */
.article-title--subline {
  position: absolute;
  top: 250px;
  padding: 0 20px;
  font-family: 'Fira Sans', sans-serif;
  color: #004e64;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 22px;
}

/* line 53, sass/_article.scss */
.article-image {
  position: relative;
  overflow: hidden;
}
/* line 57, sass/_article.scss */
.article-image img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: -1;
  object-fit: cover;
}

/* line 70, sass/_article.scss */
.article-paragraph--paragraph {
  font-family: 'Fira Sans', sans-serif;
  color: #171717;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
}
/* line 73, sass/_article.scss */
.article-paragraph--paragraph a {
  font-family: 'Fira Sans', sans-serif;
  color: #004e64;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 22px;
  transition: all 0.15s;
}
/* line 77, sass/_article.scss */
.article-paragraph--paragraph a:hover {
  color: rgba(0, 78, 100, 0.7);
}
/* line 81, sass/_article.scss */
.article-paragraph--paragraph a:visited {
  color: #4f2196;
}

/* line 87, sass/_article.scss */
.article-paragraph--marginal {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid rgba(23, 23, 23, 0.3);
  font-family: 'Fira Sans', sans-serif;
  color: #171717;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 22px;
}

/* line 1, sass/_footer.scss */
#main-footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background-color: #004e64;
  z-index: 90;
}

/* line 9, sass/_footer.scss */
#menu-footermenu {
  font-size: 14px;
}
/* line 15, sass/_footer.scss */
#menu-footermenu li {
  list-style: none;
}
/* line 19, sass/_footer.scss */
#menu-footermenu > li {
  position: relative;
  padding-right: 80px;
  margin-right: 40px;
}
/* line 25, sass/_footer.scss */
#menu-footermenu li a {
  color: #f3f3f3;
  text-decoration: none;
}
/* line 30, sass/_footer.scss */
#menu-footermenu > li > a {
  display: inline-block;
  margin-bottom: 20px;
  color: rgba(23, 23, 23, 0.5);
  cursor: default;
}
/* line 36, sass/_footer.scss */
#menu-footermenu > li > a::after {
  content: '';
  position: absolute;
  display: block;
  top: 25px;
  width: 100%;
  height: 1px;
  background-color: rgba(23, 23, 23, 0.3);
}
/* line 47, sass/_footer.scss */
#menu-footermenu > li ul li {
  padding-top: 10px;
}
/* line 51, sass/_footer.scss */
#menu-footermenu > li ul li a {
  color: rgba(243, 243, 243, 0.5);
  font-weight: 400;
  transition: all 0.15s;
}
/* line 58, sass/_footer.scss */
#menu-footermenu > li ul li a:hover {
  color: #f3f3f3;
}

