/* line 1, sass/_transitions.scss */
.fold-menu-enter-active, .fold-menu-leave-active {
  transition: all .3s;
}

/* line 4, sass/_transitions.scss */
.fold-menu-enter, .fold-menu-leave-to {
  transform: translateY(-100%);
  border-radius: 100%;
}

/* line 6, sass/_mixins.scss */
.fc-r-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 12, sass/_mixins.scss */
.fc-c-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 6, sass/_mixins.scss */
.fc-r-sa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* line 12, sass/_mixins.scss */
.fc-c-sa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 6, sass/_mixins.scss */
.fc-r-fs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* line 12, sass/_mixins.scss */
.fc-c-fs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* line 6, sass/_mixins.scss */
.fc-r-fe {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* line 12, sass/_mixins.scss */
.fc-c-fe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* line 6, sass/_mixins.scss */
.fc-r-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 12, sass/_mixins.scss */
.fc-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 6, sass/_mixins.scss */
.fc-r-s {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

/* line 12, sass/_mixins.scss */
.fc-c-s {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* line 6, sass/_mixins.scss */
.fc-r-e {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

/* line 12, sass/_mixins.scss */
.fc-c-e {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/* line 23, sass/_mixins.scss */
.fi-b-tel18 {
  flex-basis: 5.56%;
}

/* line 23, sass/_mixins.scss */
.fi-b-tel18-2 {
  flex-basis: 11.11%;
}

/* line 23, sass/_mixins.scss */
.fi-b-tel6 {
  flex-basis: 16.67%;
}

/* line 23, sass/_mixins.scss */
.fi-b-tel3 {
  flex-basis: 33.33%;
}

/* line 23, sass/_mixins.scss */
.fi-b-half {
  flex-basis: 50%;
}

/* line 23, sass/_mixins.scss */
.fi-b-tel3-2 {
  flex-basis: 66.67%;
}

/* line 23, sass/_mixins.scss */
.fi-b-tel6-5 {
  flex-basis: 83.32%;
}

/* line 23, sass/_mixins.scss */
.fi-b-full {
  flex-basis: 100%;
}

/* line 32, sass/_mixins.scss */
.pt-small {
  padding-top: 10px;
}

/* line 36, sass/_mixins.scss */
.pr-small {
  padding-right: 10px;
}

/* line 40, sass/_mixins.scss */
.pb-small {
  padding-bottom: 10px;
}

/* line 44, sass/_mixins.scss */
.pl-small {
  padding-left: 10px;
}

/* line 48, sass/_mixins.scss */
.plr-small {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 53, sass/_mixins.scss */
.ptb-small {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 58, sass/_mixins.scss */
.p-small {
  padding: 10px;
}

/* line 32, sass/_mixins.scss */
.pt-normal {
  padding-top: 20px;
}

/* line 36, sass/_mixins.scss */
.pr-normal {
  padding-right: 20px;
}

/* line 40, sass/_mixins.scss */
.pb-normal {
  padding-bottom: 20px;
}

/* line 44, sass/_mixins.scss */
.pl-normal {
  padding-left: 20px;
}

/* line 48, sass/_mixins.scss */
.plr-normal {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 53, sass/_mixins.scss */
.ptb-normal {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 58, sass/_mixins.scss */
.p-normal {
  padding: 20px;
}

/* line 32, sass/_mixins.scss */
.pt-big {
  padding-top: 40px;
}

/* line 36, sass/_mixins.scss */
.pr-big {
  padding-right: 40px;
}

/* line 40, sass/_mixins.scss */
.pb-big {
  padding-bottom: 40px;
}

/* line 44, sass/_mixins.scss */
.pl-big {
  padding-left: 40px;
}

/* line 48, sass/_mixins.scss */
.plr-big {
  padding-left: 40px;
  padding-right: 40px;
}

/* line 53, sass/_mixins.scss */
.ptb-big {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 58, sass/_mixins.scss */
.p-big {
  padding: 40px;
}

/* line 68, sass/_mixins.scss */
.text-reg-small {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 14px;
}

/* line 76, sass/_mixins.scss */
.text-ita-small {
  font-weight: 400;
  font-font-style: italic;
  font-size: 14px;
}

/* line 84, sass/_mixins.scss */
.text-bld-small {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 14px;
}

/* line 68, sass/_mixins.scss */
.text-reg-normal {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 16px;
}

/* line 76, sass/_mixins.scss */
.text-ita-normal {
  font-weight: 400;
  font-font-style: italic;
  font-size: 16px;
}

/* line 84, sass/_mixins.scss */
.text-bld-normal {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 16px;
}

/* line 68, sass/_mixins.scss */
.text-reg-subhead {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 24px;
}

/* line 76, sass/_mixins.scss */
.text-ita-subhead {
  font-weight: 400;
  font-font-style: italic;
  font-size: 24px;
}

/* line 84, sass/_mixins.scss */
.text-bld-subhead {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 24px;
}

/* line 68, sass/_mixins.scss */
.text-reg-head {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 34px;
}

/* line 76, sass/_mixins.scss */
.text-ita-head {
  font-weight: 400;
  font-font-style: italic;
  font-size: 34px;
}

/* line 84, sass/_mixins.scss */
.text-bld-head {
  font-weight: 400;
  font-font-style: inherit;
  font-size: 34px;
}

/* line 6, sass/style.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 17, sass/style.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* line 28, sass/style.scss */
.rhn-wrapper {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* line 1, sass/header.scss */
header {
  position: fixed;
  width: 100%;
  height: auto;
  padding: 0;
  font-size: 14px;
}

/* line 12, sass/header.scss */
.rhn-menu_container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #7dff7d;
}

/* line 19, sass/header.scss */
.menu-company-menu-container {
  width: 100%;
}

/* line 23, sass/header.scss */
#rhn-menu__logo {
  position: relative;
  height: 70px;
}
/* line 27, sass/header.scss */
#rhn-menu__logo svg {
  height: 100%;
  fill: #004e64;
  opacity: .3;
  transition: all .3s ease-in-out;
}
/* line 33, sass/header.scss */
#rhn-menu__logo svg:hover {
  opacity: .5;
}

/* line 42, sass/header.scss */
.rhn-menu__hamburger {
  position: relative;
  cursor: pointer;
  transform: scale(0.9);
}
/* line 47, sass/header.scss */
.rhn-menu__hamburger:hover .rhn-menu__hamburger--container {
  opacity: .5;
}
/* line 51, sass/header.scss */
.rhn-menu__hamburger:hover .rhn-menu__hamburger--container::after {
  height: 12px;
  border-right: 4px solid #004e64;
  border-bottom: 4px solid #004e64;
  border-left: 4px solid #004e64;
}

/* line 59, sass/header.scss */
.rhn-menu__hamburger--container {
  position: relative;
  width: 35px;
  height: 4px;
  top: 55%;
  transform: translateY(-50%);
  margin: 0 auto;
  background-color: #004e64;
  opacity: .3;
  transition: all .3s;
}
/* line 70, sass/header.scss */
.rhn-menu__hamburger--container::before {
  content: '';
  display: block;
  position: absolute;
  width: 35px;
  height: 4px;
  bottom: 10px;
  background-color: #004e64;
}
/* line 80, sass/header.scss */
.rhn-menu__hamburger--container::after {
  content: '';
  display: block;
  position: absolute;
  width: 35px;
  height: 4px;
  bottom: -10px;
  border-right: 4px solid #004e64;
  border-bottom: 4px solid #004e64;
  border-left: 4px solid #004e64;
  box-sizing: border-box;
  transition: all .3s;
}

/* line 96, sass/header.scss */
.rhn-menu__hamburger--active::after {
  background-color: #004e64;
  height: 12px;
}

/* line 102, sass/header.scss */
#rhn-submenu {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #7dff7d;
  z-index: -1;
}

/* line 110, sass/header.scss */
.rhn-nav__company--sub {
  position: relative;
}

/* line 114, sass/header.scss */
#menu-mainmenu,
#menu-company-menu {
  list-style: none;
  transition: all 0.3s;
  cursor: pointer;
}

/* line 123, sass/header.scss */
#menu-mainmenu li {
  position: relative;
}
/* line 126, sass/header.scss */
#menu-mainmenu li::before {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  height: 100%;
  background-color: #004e64;
  opacity: 0;
  transition: all 0.15s;
}
/* line 137, sass/header.scss */
#menu-mainmenu li:hover::before {
  opacity: .1;
}
/* line 141, sass/header.scss */
#menu-mainmenu li a {
  padding: 6px 10px;
  display: block;
  width: 100%;
  color: #004e64;
  text-decoration: none;
}

/* line 157, sass/header.scss */
#menu-company-menu li a {
  display: block;
  width: 100%;
  color: rgba(0, 78, 100, 0.3);
  text-decoration: none;
  cursor: pointer;
}
/* line 165, sass/header.scss */
#menu-company-menu li a:hover::after {
  color: rgba(0, 78, 100, 0.5);
}
/* line 169, sass/header.scss */
#menu-company-menu li ul {
  margin-top: 10px;
}
/* line 172, sass/header.scss */
#menu-company-menu li ul li {
  position: relative;
  list-style: none;
}
/* line 176, sass/header.scss */
#menu-company-menu li ul li a {
  display: block;
  width: 100%;
  padding: 6px 0;
  color: #004e64;
  text-decoration: none;
  transition: all 0.15s;
}
/* line 185, sass/header.scss */
#menu-company-menu li ul li:hover a {
  color: rgba(0, 78, 100, 0.6);
}

/* line 197, sass/header.scss */
.rhn-company-menu-item {
  margin: 0 10px;
}

/* line 201, sass/header.scss */
.rhn-company-menu__headline {
  border-bottom: 1px solid rgba(0, 78, 100, 0.1);
}

/* line 205, sass/header.scss */
.rhn-company-menu__headline::after {
  content: '\f35d';
  position: relative;
  bottom: -6px;
  vertical-align: text-bottom;
  float: right;
  font-family: 'Font Awesome 5 Free';
  font-size: 14px;
  font-weight: 900;
  color: rgba(0, 78, 100, 0.3);
}
