// Mixins

@mixin flex($args...) {

  @each $name, $value in keywords($args) {
    .f-r-#{$name} {
      display: flex;
      flex-direction: row;
      justify-content: $value;
    }

    .f-c-#{$name} {
      display: flex;
      flex-direction: column;
      justify-content: $value;
    }
  }
}

@mixin flex-basis($args...) {

  @each $name, $value in keywords($args) {
    .f-b-#{$name} {
      flex-basis: $value;
      flex-shrink: 0;
    }
  }
}

@mixin padding($args...) {

  @each $name, $value in keywords($args) {
    .pt-#{$name} {
      padding-top: $value;
    }

    .pr-#{$name} {
      padding-right: $value;
    }

    .pb-#{$name} {
      padding-bottom: $value;
    }

    .pl-#{$name} {
      padding-left: $value;
    }

    .plr-#{$name} {
      padding-left: $value;
      padding-right: $value;
    }

    .ptb-#{$name} {
      padding-top: $value;
      padding-bottom: $value;
    }

    .p-#{$name} {
      padding: $value;
    }
  }
}

@mixin margin($args...) {

  @each $name, $value in keywords($args) {
    .mt-#{$name} {
      margin-top: $value;
    }

    .mr-#{$name} {
      margin-right: $value;
    }

    .mb-#{$name} {
      margin-bottom: $value;
    }

    .ml-#{$name} {
      margin-left: $value;
    }

    .mlr-#{$name} {
      margin-left: $value;
      margin-right: $value;
    }

    .mtb-#{$name} {
      margin-top: $value;
      margin-bottom: $value;
    }

    .m-#{$name} {
      margin: $value;
    }
  }
}

@mixin text($args...) {

  @each $name, $value in keywords($args) {

    .text-lig-#{$name} {
      font: {
        weight: 300;
        font-style: inherit;
        size: $value;
      }
      
      line-height: calc(#{$value} * 1.6);
      letter-spacing: 0.03em;
    }

    .text-reg-#{$name} {
      font: {
        weight: 400;
        font-style: inherit;
        size: $value;
      }
      
      line-height: calc(#{$value} * 1.6);
      letter-spacing: 0.03em;
    }

    .text-ita-#{$name} {
      font: {
        weight: 400;
        style: italic;
        size: $value;
      }

      line-height: calc(#{$value} * 1.6);
      letter-spacing: 0.03em;
    }

    .text-bld-#{$name} {
      font: {
        weight: 700;
        font-style: inherit;
        size: $value;
      }

      line-height: calc(#{$value} * 1.6);
      letter-spacing: 0.03em;
    }
  }
}

@mixin font($type: normal, $color: $blue, $style: normal) {
  font-family: 'Fira Sans', sans-serif;
  color: $color;

  @if $type == 'headline' {
    font: {
      size: 34px;
      weight: 700;
      style: $style;
    }
    line-height: 44px;
    letter-spacing: 0.03em;
  } @else if $type == 'subline' {
    font: {
      size: 16px;
      weight: 700;
      style: $style;
    }
    line-height: 22px;
  } @else if $type == 'normal' {
    font: {
      size: 16px;
      weight: 400;
      style: $style;
    }
    line-height: 22px;
  } @else if $type == 'small' {
    font: {
      size: 14px;
      weight: 400;
      style: $style;
    }
  }
}

// Includes

@include flex(
  $sb: space-between,
  $sa: space-around,
  $fs: flex-start,
  $fe: flex-end,
  $c: center,
  $s: start,
  $e: end
);

@include flex-basis(
  $tel18: 5.56%,
  $tel18-2: 11.11%,
  $tel6: 16.67%,
  $tel3: 33.33%,
  $half: 50%,
  $tel2-3: 66.67%,
  $tel6-5: 83.32%,
  $full: 100%
);

@include padding(
  $small: 10px,
  $normal: 20px,
  $big: 40px
);

@include margin(
  $small: 10px,
  $normal: 20px,
  $big: 40px
);

@include text(
  $small: 14px,
  $normal: 16px,
  $subhead: 24px,
  $head: 34px
);