// Colors
$lime: #7dff7d;

// Blue
$blue-10: rgba(#004e64, .1);
$blue-20: rgba(#004e64, .2);
$blue-30: rgba(#004e64, .3);
$blue-40: rgba(#004e64, .4);
$blue-50: rgba(#004e64, .5);
$blue-60: rgba(#004e64, .6);
$blue-70: rgba(#004e64, .7);
$blue-80: rgba(#004e64, .8);
$blue-90: rgba(#004e64, .9);
$blue: #004e64;

// Transitions
$fast: all .15s;
$normal: all .3s;
$slow: all .4s;