// Colors
$lime: #7dff7d;

// Blue
$blue-10: rgba(#004e64, .1);
$blue-20: rgba(#004e64, .2);
$blue-30: rgba(#004e64, .3);
$blue-40: rgba(#004e64, .4);
$blue-50: rgba(#004e64, .5);
$blue-60: rgba(#004e64, .6);
$blue-70: rgba(#004e64, .7);
$blue-80: rgba(#004e64, .8);
$blue-90: rgba(#004e64, .9);
$blue: #004e64;

$white-10: rgba(#f3f3f3, .1);
$white-20: rgba(#f3f3f3, .2);
$white-30: rgba(#f3f3f3, .3);
$white-40: rgba(#f3f3f3, .4);
$white-50: rgba(#f3f3f3, .5);
$white-60: rgba(#f3f3f3, .6);
$white-70: rgba(#f3f3f3, .7);
$white-80: rgba(#f3f3f3, .8);
$white-90: rgba(#f3f3f3, .9);
$white: #f3f3f3;

// Transitions
$fast: all .15s;
$normal: all .3s;
$slow: all .4s;