header {
  position: fixed;
  width: 100%;
  height: auto;
  padding: 0;

  font: {
    size: 14px;
  }
}

.rhn-menu_container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: $lime;
}

.menu-company-menu-container {
  width: 100%;
}

#rhn-menu__logo {
  position: relative;
  height: 70px;

  svg {
    height: 100%;
    fill: $blue;
    opacity: .3;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: .5;
    }
  }
}

$ham-width: 35px;
$ham-weight: 4px;

.rhn-menu__hamburger {
  position: relative;
  cursor: pointer;
  transform: scale(.9);

  &:hover .rhn-menu__hamburger--container {
    opacity: .5;  
  }

  &:hover .rhn-menu__hamburger--container::after {
    height: 12px;
    border-right: $ham-weight solid $blue;
    border-bottom: $ham-weight solid $blue;
    border-left: $ham-weight solid $blue;
  }
}

.rhn-menu__hamburger--container {
  position: relative;
  width: $ham-width;
  height: $ham-weight;
  top: 55%;
  transform: translateY(-50%);
  margin: 0 auto;
  background-color: $blue;
  opacity: .3;
  transition: all .3s;
  
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: $ham-width;
    height: $ham-weight;
    bottom: 10px;
    background-color: $blue;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: $ham-width;
    height: $ham-weight;
    bottom: -10px;
    border-right: $ham-weight solid $blue;
    border-bottom: $ham-weight solid $blue;
    border-left: $ham-weight solid $blue;
    box-sizing: border-box;
    transition: all .3s;
  }
}

.rhn-menu__hamburger--active {
  &::after {
    background-color: $blue;
    height: 12px;
  }
}

#rhn-submenu {
  position: relative;
  width: 100%;
  height: auto;
  background-color: $lime;
  z-index: -1;
}

.rhn-nav__company--sub {
  position: relative;
}

#menu-mainmenu,
#menu-company-menu {
  list-style: none;
  transition: $normal;
  cursor: pointer;
}

#menu-mainmenu {

  li {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 2px;
      height: 100%;
      background-color: $blue;
      opacity: 0;
      transition: $fast;
    }

    &:hover::before {
      opacity: .1;
    }

    a {
      padding: 6px 10px;
      display: block;
      width: 100%;
      color: $blue;
      text-decoration: none;
    }

  }

}

#menu-company-menu {

  li {

    a {
      display: block;
      width: 100%;
      color: $blue-30;
      text-decoration: none;
      cursor: pointer;
    }

    a:hover::after {
      color: $blue-50;
    }

    ul {
      margin-top: 10px;

      li {
        position: relative;
        list-style: none;

        a {
          display: block;
          width: 100%;
          padding: 6px 0;
          color: $blue;
          text-decoration: none;
          transition: $fast;
        }

        &:hover a {
          color: $blue-60;
        }

      }

    }

  }

}

.rhn-company-menu-item {
  margin: 0 10px;
}

.rhn-company-menu__headline {
  border-bottom: 1px solid $blue-10;
}

.rhn-company-menu__headline::after {
  content: '\f35d';
  position: relative;
  bottom: -6px;
  vertical-align: text-bottom;
  float: right;
  font: {
    family: 'Font Awesome 5 Free';
    size: 14px;
    weight: 900;
  }
  color: $blue-30;
}